{
    "api_key": "Super secret key in you openai trial(lets be real, you dont pay for stuff) account",
    "url": "https://api.openai.com/v1/",
    "model": "davinci"
    "models": {
        "davinci":"text-davinci-002",
        "curie":"text-curie-001",
        "babbage":"text-babbage-001",
        "ada":"text-ada-001",
        "cushman":"text-cushman-001"
    },
    "endpoints": {
        "completion": "completions"
    },
    "max_tokens": 50,
    "temperature": 0.9,
    "top_p": 1,
    "frequency_penalty": 0.5,
    "presence_penalty": 0.2,
    "stop": [
        "User(",
        "."
    ]
}