#EXAMPLE(remove this line)
DATABASE_URL=postgres://postgres:postgres@db:5432/bot
DISCORD_TOKEN=TOKEN_NOT_SET
DISCORD_CLIENT_ID=ID_NOT_SET
DISCORD_GUILD_ID=GUILD_ID_NOT_SET
DISCORD_OWNER_ID=OWNER_ID_NOT_SET
DISCORD_OWNER_USERNAME=OWNER_USERNAME_NOT_SET
OPENAI_API_KEY=API_KEY_NOT_SET
OPENAI_VERSION=v1